%%%-------------------------------------------------------------------
%%% @author {{author}}
%%% @copyright (C) {{year}}, {{author}}
%%% @doc
%%%
%%% @end
%%% Created :  {{date}} by {{author}}
%%%-------------------------------------------------------------------
-module().

%% API
-export([]).

%%%===================================================================
%%% API
%%%===================================================================

%%--------------------------------------------------------------------
%% @doc
%% @spec
%% @end
%%--------------------------------------------------------------------

%%%===================================================================
%%% Internal functions
%%%===================================================================
