%% == Core ==
%% Additional library directories to add to the code path
{lib_dirs, []}.

%% Erlang compiler options
{erl_opts, [ ]}.

%% == EUnit ==

%% == Dependencies ==

%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, "deps"}.
{deps, [
        {'espec',   ".*",  { git, "git://github.com/lucaspiller/espec.git", "master"} },
        {'mustache',  ".*",  { git, "git://github.com/mojombo/mustache.erl.git", "master" } }
]}.


%% == xref ==

{xref_warnings, true}.

%% == plugins ==

{plugin_dir, "./src/"}.
{plugins, [generate_plugin, espec_plugin]}.

%% spec
{espec, [{dir, "spec"}]}.

%% generate
{generate, [{skeletons, "./generator/templates/"},
            {metadata, [{node_name, "test@rebar.plugins.org"},
                        {pre_load, [mnesia]},
                        {mnesia, [{dir, "mnesia"},
                                  {auto_repair, true},
                                  {dc_dump_limit, 40},
                                  {dump_log_write_threshold, 40000}
                                 ]},
                        {env, [{'ERL_MAX_ETS_TABLES', 200000},
                               {'ERL_MAX_PORTS', 200000}
                              ]}
                        ]}
           ]}.
