#!/bin/sh
erl \
-name {{node_name}} -boot start_sasl +S {{scheduler}} +sbt {{scheduler_bind_type}} +P {{processes}} \
{{config_opt}} \
{{env_opt}} \
{{mnesia_opt}} \
{{pa_opt}} \
{{pre_load_opt}} \
; echo ""
